@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

h1 {
  font-family: "Segoe UI", sans-serif;
}
